@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  &__item {
    @include margin-bottom(1.25);
    // border-bottom: solid 1px lighten($color-gray, 18%);
    &:after {
      background: $color-gray-border;
      background: linear-gradient(to bottom, $color-gray-border 0%, $color-gray-border 48%, $color-white 100%);
      content: '';
      display: block;
      margin: 0 auto;
      background-color: #E6E6E6;
      height: 1px;
      background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
      background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
      background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
      background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
      background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
      background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, #E6E6E6), color-stop(0.98, white) );
 
    }
    
    &:last-child {
      @include margin-bottom(.5);
    }

    &-title {
      font-size: $typographic-base-font-size * 1.6875;
      @include line-height(1.5);
      @include margin-top(0);
      @include margin-bottom(.5);

      &-link {
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-base;
          border-bottom: 1px solid $color-base;
        }

      }

    }

    &-description {
      img {
        display: block;
        border: 0;
        margin: 1em auto;
      }
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(.75);
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }

    }

    &-footer {

      &-time {
        &-link {
          color: $color-base;
        }

        float: right;
        font-size: 0.5em;
      } 

      min-height: 1em;
      line-height: 1.82;
  
    }
  }

}